@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color01:#36BFB1;
    --color02:#038C73;
    --color03:#02735E;
    --color04:#014034;
    --color05:#0D0D0D;

    --font-padrao:"Poppins", sans-serif;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100vh;
    width: 100vw;
}
body{
    background-image: linear-gradient(to bottom, var(--color03),var(--color05));
}
main{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
section.infos{
    color: white;
    background-color: #038C73;
    height: 65vh;
    width: 75vw;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.093);
}
form > h1{
    text-align: center;
    font-family: var(--font-padrao);
    font-weight: 200;
    font-size: 2em;
}
form > p{
    text-align: center;
    font-family: var(--font-padrao);
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
}
div.imagem-card{
    background-image: url(../imagens/pattern-login.jpg);
    background-position: center center;
    background-size: cover;
    height: 25vh;
    border-radius: 20px 20px 0px 0px;
}
form{
    padding: 10px;
    text-align: center;
}
input{
    padding: 5px;
    margin-top: 5px ;
    height: 25px;
    width: 60%;
}
input::placeholder{
    font-family: var(--font-padrao);
    font-weight:200;
    color: rgba(0, 0, 0, 0.74);
    text-align: center;
}
input.enter{
    color: white;
    background-color: #065a4a9f;
    font-family: var(--font-padrao);
    font-weight: 300;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.318);
    border-radius: 20px;
}
input.enter:hover{
    background-color: white;
    color: black;
}
input.sub{
    color: white;
    background-color: #065a4a9f;
    font-family: var(--font-padrao);
    font-weight: 300;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.318);
    border-radius: 20px;
}
input.sub:hover{
    background-color: white;
    color: black;
}
span{
    position: relative;
    top: 8px;
    left: 2px;
    background-color: #02735E;
}
p.button-content{
    margin-top: 25px;
}