@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color01:#36BFB1;
    --color02:#038C73;
    --color03:#02735E;
    --color04:#014034;
    --color05:#0D0D0D;

    --font-padrao:"Poppins", sans-serif;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100vh;
    width: 100vw;
}
body{
    background-image: linear-gradient(to bottom, var(--color03),var(--color05));
}
main{
    display: flex;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 90vw;
}
#login{
    background-color: var(--color02);
    height: 65vh;
    width: 90vw;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.241);
}
#imagem{
    background:url(../imagens/pattern-login.jpg) no-repeat;
    background-size: cover;
    height: 25vh;
    border-radius: 20px 20px 0px 0px;
}
#form{
    display: block;
    margin: auto;
    padding: 20px;
}
#form > h1{
    font-family: var(--font-padrao);
    font-weight: 300;
    font-style: italic;
    text-align: center;
}
#form > p {
    font-family: var(--font-padrao);
    font-weight: 300;
    text-align: center;
}
input{
    display: block;
    margin: auto;
    height: 30px;
    width: 60vw;
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.297);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.347);
    border-radius: 5px;
}
input::placeholder{
    font-family: var(--font-padrao);
    font-weight: 250;
    text-align: center;
}
#emailIcon{
    background-color: var(--color03);
    position: relative;
    top: 9px;
    padding: 2px;
    border-radius: 100%;
}
#senhaIcon{
    background-color: var(--color03);
    position: relative;
    top: 9px;
    padding: 2px;
    border-radius: 100%;
}
div#buttons{
    margin-top: 20px;
}
button{
    display: block;
    height: 4vh;
    width: 60vw;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid transparent;
    font-family: var(--font-padrao);
    font-weight: 300;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.347);
}
#esqueceuSenha{
    color: white;
    background-color: #01403486;
    border: 1px solid rgba(255, 255, 255, 0.402);
}